$color_danger: #a94442;
$color_safe: #42A948;
$color_input--text: #e8eaf3;
$color_input--background: #5b7085;
form {
	display: flex;
	flex-direction: column;

	input {
		border-radius: .5rem;
		color: $color_input--text;
		font-weight: bold;
		background-color: $color_input--background;
		&.ng-valid[required], .ng-valid.required {
			&.ng-touched  {
				box-shadow: 0 0 6px 0 $color-safe inset;
				border: 1px solid $color-safe;
			}
		}

		&.ng-invalid:not(form) {
			&.ng-touched  {
				border: 1px solid $color-danger;
				box-shadow: 0 0 6px 0 $color-danger inset;
			}
		}
	}
	label {
		margin-left: 1rem;
	}

	.message--error {
		color: $color-danger;
	}

	button {
		align-self: flex-end;
		border-radius: .5rem;
		margin-top: 1rem;
		width: auto;
	}
}

.window {
	background-color: rgb(75, 95, 97);
	border: 3px inset #ccc;
	border-radius: 5px;
	box-shadow: 5px 7px 15px #ccc;
	color: white;
	font-weight: bold;
	margin: 0 auto;
	opacity: 0;
	padding: 1rem 2rem;
	position: relative;
	text-align: center;
	top: -55px;
	width:50%;

	&.animate {
		animation-duration: 5s;
		animation-name: fade-in-out;
	}
}
@keyframes fade-in-out {
	0% {opacity: 0;}
	40% {opacity: 1;}
	70% {opacity: 1;}
	100% {opacity: 0;}
}
