<div class="container" role="main">

	<h2>Sign up here</h2>
	<form [formGroup]="signUpForm" (ngSubmit)="onSubmitSigninForm()">
		<label for="first-name">First name</label>
		<input type="text" formControlName="firstName" required>
		<p *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="message--error">
			{{getErrorMessage('firstName')}}</p>

		<label for="last-name">Last name</label>
		<input type="text" formControlName="lastName" required>
		<p *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="message--error">
			{{getErrorMessage('lastName')}}</p>

		<label for="email">Email address</label>
		<input type="email" formControlName="email" required>
		<p *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="message--error">
			{{getErrorMessage('email')}}</p>

		<label for="password">Password</label>
		<input type="password" formControlName="password" required>
		<p *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="message--error">
			{{getErrorMessage('password')}}
		</p>
		<!-- pattern="((?!{{signUpForm.value.firstName}}).)+" -->
		<button type="submit" [disabled]="!signUpForm.valid">Sign up!</button>
	</form>
	<div [ngClass]="{'window':true, 'animate': signedUp}">{{feedback}}</div>
</div>