$color-danger: #a94442;
$color-safe: #42A948;

input {
	border-radius: 1rem;

	&.ng-valid[required], .ng-valid.required {
		&.ng-touched  {
			box-shadow: 0 0 6px 0 $color-safe inset;
			border: 1px solid $color-safe;
		}
	}

	&.ng-invalid:not(form) {
		&.ng-touched  {
			border: 1px solid $color-danger;
			box-shadow: 0 0 6px 0 $color-danger inset;
		}
	}
}
	.message--error {
		color: $color-danger;
	}
