input {
	border-radius: 1rem;

	&.ng-valid[required], .ng-valid.required {
		&.ng-touched  {
			box-shadow: 0 0 6px 0 #42A948 inset;
			border: 1px solid #42A948; /* green */
		}
	}

	&.ng-invalid:not(form) {
		&.ng-touched  {
			border: 1px solid #a94442; /* red */
			box-shadow: 0 0 6px 0 #db2c43 inset;
		}
	}
}