<div class="container" role="main">

	<h2>Sign up here</h2>
	<form [formGroup]="signUpForm" (ngSubmit)="onSubmitSigninForm()">
		<label for="first-name">First name</label>
		<input type="text" formControlName="firstName" required>
		<p *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">{{getErrorMessage('firstName')}}</p>

		<label for="last-name">Last name</label>
		<input type="text" formControlName="lastName" required>
		<p *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">{{getErrorMessage('lastName')}}</p>

		<label for="email">Email address</label>
		<input type="email" formControlName="email" required>
		<p *ngIf="email?.invalid && (email?.dirty || email?.touched)">{{getErrorMessage('email')}}</p>

		<label for="password">Password</label>
		<input type="password" formControlName="password" required>
		<p *ngIf="password?.invalid && (password?.dirty || password?.touched)">{{getErrorMessage('password')}}</p>

		<button type="submit" [disabled]="!signUpForm.valid">Sign up!</button>
	</form>
</div>