<div class="content" role="main">

	<h2>Sign up here</h2>
	<mat-form-field appearance="outline" class="signInForm">
		<mat-label>First name</mat-label>
		<input matInput [formControl]="firstName">
		<mat-hint>Your name</mat-hint>
		<mat-error *ngIf="firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
	</mat-form-field>
	<mat-form-field appearance="outline" class="signInForm">
		<mat-label>Surname</mat-label>
		<input matInput [formControl]="lastName">
		<mat-hint>Your surname</mat-hint>
		<mat-error *ngIf="lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
	</mat-form-field>
	<mat-form-field appearance="outline" class="signInForm">
		<mat-label>Email</mat-label>
		<input matInput [formControl]="email">
		<mat-hint>Your email address</mat-hint>
		<mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
	</mat-form-field>
</div>